<%# Section to show the Article %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<hr />
<p><%= link_to("Edit this Article", edit_article_path(@article)) %></p>
<p>
  <%= link_to("Delete this Article", article_path(@article),
       data: {
       turbo_method: :delete,
       turbo_confirm: "Are you sure?"
      }) %>
</p>

<%# Section to show comments posted by other users %>
<hr />
<h2>Article Comments</h2>
<%= render(@article.comments) %>

<%# Form for users to add their comments %>
<hr />
<h2>Add your comment about this article:</h2>
<%= render('comments/form') %>

